{% extends "layout.html" %} {% block content %}
<h1>Orders</h1>

'created_at': '2020-11-03T14:53:03.73323Z', 'expired_at': None,
'extended_hours': False, 'failed_at': '2020-11-03T16:10:59.234312Z',
'filled_avg_price': '34.91', 'filled_qty': '100', 'hvm': None, 'id':
'e6b201bd-1172-406e-b142-f8ee48273991', 'legs': None, 'limit_price': None,

<table class="ui striped table">
  <thead>
    <tr>
      <th>Created</th>
      <th>Side</th>
      <th>Quantity</th>
      <th>Symbol</th>
      <th>Price</th>
      <th>Status</th>
    </tr>
  </thead>

  {% for order in orders %}
  <tr>
    <td>{{ order.created_at }}</td>
    <td>{{ order.side }}</td>
    <td>{{ order.filled_qty }}</td>
    <td>{{ order.symbol }}</td>
    <td>{{ order.filled_avg_price }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
